{% block collection_row %}
  {{ form_widget(form) }}
  {% if form.vars.name == 'productVersions' %}
    <a class="add-product" href="#">A침adir versi칩n de producto</a>
  {% elseif form.vars.name == 'productVersionImages' %}
    <a class="add-image" href="#">A침adir imagen</a>
    <div style="clear: left"></div>
    <br>
  {% elseif form.vars.name == 'productVersionSizes' %}
    <a class="add-image" href="#">A침adir talla</a>
  {% endif %}
{% endblock %}

{% block product_version_row %}
    <h4><b>Version del producto</b></h4>
    <div class="panel panel-default form-group">
      <div class="panel-body">
      {{ form_widget(form) }}
{#
      <a href="#" class="delete-product">Eliminar version del producto</a>
#}
    </div>
    </div>
{% endblock %}

{% block file_row %}
  {{ form_widget(form) }}
  {% if app.request.attributes.get('_route') == 'product_edit'%}
    <img src="/uploads/s/{{ form.vars.data }}"  onerror="this.style.display='none'">
  {% endif %}
  <a href="#" class="delete-image">Eliminar imagen</a>
{% endblock %}

{% block product_version_size_row %}
  <div class="panel panel-default form-group">
    <div class="panel-body">
    {{ form_widget(form) }}
    {#
    <a href="#" class="delete-product">Eliminar talla</a>
    #}
    </div>
  </div>
{% endblock %}

{% block product_version_image_row %}
  <div class="pull-left">
    {{ form_widget(form) }}
  </div>
{% endblock %}

