{% extends 'base.html.twig' %}

{% form_theme edit_form _self %}

{% block collection_row %}
  {{ form_widget(form) }}
  <a class="add-product" href="#">Añadir versión de producto</a>
{% endblock %}

{% block product_version_row %}
  <div class="form-group">
    {{ form_widget(form) }}
    <a href="#" class="delete-product">Eliminar version del producto</a>
  </div>
{% endblock %}
{% block body %}
    <h1>Product edit</h1>

    {{ form_start(form) }}
        {% include 'ZiiwebEcommerceBundle:Manufacturer:form.html.twig' %}
        <input type="submit" value="Update" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('product_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
