{% extends 'ZiiwebEcommerceBundle:Default:layout.html.twig' %}

{% block body %}
  {% for product_version_image in product_version.productVersionImages %}
    <img src="/uploads/l/{{ product_version_image.file }}">
  {% endfor %}
  <h1>{{ product_version.product.name }}</h1>
  {{ product_version.price }} €
  {% if product_version.productVersionSizes[0].size is not null %}
  Elige una talla:
  <form id="size">
  {% for product_version_size in product_version.productVersionSizes %}
    {% if product_version_size.stock > 0 %} 
      <input class="size" type="radio" value="{{ product_version_size.size }}">{{ product_version_size.size }}
    {% endif %}
  {% endfor %}
  </form>
  {% endif %}
  <div class="anadir-qty">
    <input min="0" value="1" class="producto-qty" size="2">
    <span data-producto_id="{{ product_version.id }}" class="anadir_subitem ">
      <button>{{ stock_string }}</button>
    </span>
  </div>

{% endblock %}
