
<div id="cart" data-url_cantidad="{{ path('update-qty-subitem') }}" data-url_eliminar="{{ path('remove-subitem-cart') }}" data-url_pago="{{ path('update-metodo-pago') }}" data-url_envio="{{ path('update-metodo-envio') }}" >
  <table class="tabla-productos">
    <tr>
      <thead>
        <th>Producto</th>
        <th>Precio unidad</th>
        <th>Cantidad</th>
        <th>Precio total</th>
      </tr>
    </thead>
    {% for subitemColor in app.session.get('pedido').subitems %}
    <tr class="subitem" data-subitem_color_id="{{ subitemColor.id }}">
      <td>
        {{ subitemColor.nombre }}
      </td>
      <td>
        {{ subitemColor.precio|number_format(2, ',', '.') ~ ' ' ~ euro() }}
      </td>
      <td class="qty">
        <span class="subitem-qty-container">
          <span class="subitem-qty down" {% if subitemColor.qty == 1 %} style="display: none" {% endif %}>-</span>
        </span>
        <input class="cart-qty" type="text" value="{{ subitemColor.qty }}" min="1" max="100">
        <span class="subitem-qty-container">
          <span class="subitem-qty up" >+</span>
        </span>
      </td>
      <td class="precio_total_subitem">
        {{ subitemColor.precio_total_subitem |number_format(2, ',', '.') ~ ' ' ~ euro() }}
      </td>
      <td>
        <button class="eliminar btn">Eliminar</button>
      </td>
    </tr>
    {% endfor %}
  </table>
  <br>
  {% set postalCode = app.user.postalCode %}
  {% if (postalCode matches '/^35/' or postalCode matches '/^38/' or postalCode matches '/^07/') and app.user.country|lower == 'españa' %}
  <div class="metodo metodo-de-envio">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ENVIO FUERA DE LA PENÍNSULA<br>&nbsp;(CONSULTA COSTE CON TU COMERCIAL)<br>
  </div>
  {% else %}
  <div class="metodo metodo-de-envio">
    <div class="opciones-envio">
      <strong>Selecciona el método de envío:</strong>
      <div class="triangle"></div>
      <table>
        <tr>
          <td>
            <label for="r1" style="font-weight: normal; {% if app.session.get('pedido').metodo_envio == 3 %}opacity: 0.5 {% endif %}" > Envio 24 horas (coste 5€, IVA no inc.)</label>
          </td>
          <td>
            <input class="envio 24" id="r1" type="radio" name="envio" value="1" 
            {% if app.session.get('pedido').metodo_envio == 1 %}
              checked="checked"
            {% elseif app.session.get('pedido').metodo_envio == 3 %}
              disabled="disabled"
            {% endif %}>
          </td>
        </tr>
        <tr>
          <td>
            <label for="r2" style="font-weight: normal; {% if app.session.get('pedido').metodo_envio == 3 %}opacity: 0.5 {% endif %}"> Envio 48 horas (coste 3,5€, IVA no inc.)</label>
          </td>
          <td>
            <input class="envio 48" id="r2" type="radio" name="envio" value="2" 
            {% if app.session.get('pedido').metodo_envio == 2 %}
              checked="checked"
            {% elseif app.session.get('pedido').metodo_envio == 3 %}
              disabled="disabled"
            {% endif %}>
          </td>
        </tr>
        <tr>
          <td>
            <label for="r4" style="font-weight: normal; {% if app.session.get('pedido').metodo_envio == 3 %}opacity: 0.5 {% endif %}">Envío fuera de la península (consultar coste con tu comercial)</label>
          </td>
          <td>
            <input class="envio fuera-peninsula" id="r4" type="radio" name="envio" value="4" 
            {% if app.session.get('pedido').metodo_envio == 4 %}
              checked="checked"
            {% elseif app.session.get('pedido').metodo_envio == 3 %}
              disabled="disabled"
            {% endif %}>
          </td>
        </tr>
      </table>
    </div>
    <div class="aviso">
      <span class="depago" 
        {% if app.session.get('pedido').subtotal >= 250 %}
        style="display: none"
        {% endif %}
        >Los gastos de envío serán gratuitos si el pedido supera los 250€ (sin IVA). Te faltan <span class="faltan">{{ ((250 - app.session.get('pedido').subtotal)) | number_format(2, ',', '.') ~ ' ' ~ euro() }}</span></span>
      <p class="gratis" 
      {% if app.session.get('pedido').subtotal <= 250 %}
      style="display: none"
      {% endif %}
      >Tu pedido <u>es superior a 250 € (sin IVA)</u>, asi que no te cobraremos los gastos de envío.</p>
    </div>
  </div>
  {% endif %}
  <br><br>
  <div class="metodo metodo-de-pago">
    <strong>Selecciona el método de pago:</strong>
    <table>
      <tr>
        <td>
          <label for="r3" class="pago transferencia" style="font-weight: normal">Ingreso / transferencia</label>
        </td>
        <td>
          <input class="pago transferencia" id="r3" type="radio" name="pago" value="1"
          {% if app.session.get('pedido').metodo_pago == 1 %}
          checked="checked"
          {% endif %}>
        </td>
      </tr>
      <tr>
        <td>
          <label for="r4" class="pago contra" style="font-weight: normal">Contrareembolso <span class="aumento">(+2%, mínimo 2€)</span></label>
        </td>
        <td>
          <input class="pago contra" id="r4" type="radio" name="pago" value="2"
          {% if app.session.get('pedido').metodo_envio == 2 %}
            disabled="disabled"
          {% endif %}
          {% if app.session.get('pedido').metodo_pago == 2 %}
          checked="checked"
          {% endif %}>
        </td>
      </tr>
    </table>
  </div>
  <br><br>
  <table class="tabla-totales">
    <tr>
      <td>
        Subtotal: </td>
      <td align="right" class="subtotal"> 
        {{ app.session.get('pedido').subtotal|number_format(2, ',', '.') ~ ' ' ~ euro() }}
      </td>
    </tr>
    <tr>
      <td>IVA {{ ((app.session.get('pedido').tasa_iva - 1) * 100)|number_format(0, ',', '.') ~ '%'}}:</td>
      <td class="iva_del_subtotal" align="right"> {{ app.session.get('pedido').iva|number_format(2, ',', '.') ~ ' ' ~ euro() }}</td>
    </tr>
    {% if (app.user.regimenIva == 2) %}
    <tr>
      <td>R.E. {{ ((app.session.get('pedido').tasa_re - 1) * 100)|number_format(1, ',', '.') ~ '%'}}:</td>
      <td class="re_del_subtotal" align="right"> {{ app.session.get('pedido').re|number_format(2, ',', '.') ~ ' ' ~ euro() }}</td>
    </tr>
    {% endif %}
    <tr class="fila contrareembolso" {% if app.session.get('pedido').metodo_pago != 2 %} style="display: none" {% endif%}>
      <td>Contrare.:</td>
      <td class="cantidad" align="right">{% if app.session.get('pedido').metodo_pago == 2 %} {{ app.session.get('pedido').contrareembolso|number_format(2, ',', '.') ~ ' ' ~ euro() }}{% endif %}</td>
    </tr>
    <tr>
      <td>Total:</td>
      <td class="total" align="right"> {{ app.session.get('pedido').total|number_format(2, ',', '.') ~ ' ' ~ euro() }}</td>
    </tr>
  </table>
  <br><br>
</div>
